* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gridwrapper_huvud {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  3fr 3fr;
    grid-template-areas: 
    "se1 se1 se2 se2 se2"
    "se1 se1 se3 se3 se3"
    ;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1000px 100px;
}

header { 
    background: #09870d;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 1850px;
    list-style: none;

}

a {
    text-decoration: none;
    color: rgb(38, 197, 62);
}

a:hover {
    color: rgb(102, 151, 38);
}

#section_1 {
    grid-area: se1;
    background: brown;
}

#section_2 {
    grid-area: se2;
    background: pink;
}

#section_3 {
    grid-area: se3;
    background: yellow;
}

footer {
    background: black;
    height: 300px;
}